<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link>

  </link>
</head>
<body>

<table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="employee:${allemplist}">
      <td   th:text="${employee.name}">   </td>
      <td   th:text="${employee.email}">   </td>
      <td>
        <!--<a th:href="@{/deleteEmployee/{id}(id=${employee.id}})">Delete</a>-->
      </td>
    </tr>


  </tbody>
</table>



</body>
</html>